[submodule "src/GarlandTools"]
	path = src/GarlandTools
	url = https://github.com/ufx/GarlandTools
[submodule "src/ffxiv-lodestone-item-id"]
	path = src/ffxiv-lodestone-item-id
	url = https://github.com/Asvel/ffxiv-lodestone-item-id.git
[submodule "src/ffxiv-datamining-patches"]
	path = src/ffxiv-datamining-patches
	url = https://github.com/xivapi/ffxiv-datamining-patches.git
[submodule "src/FFXIVGachaSpreadsheet"]
	path = src/FFXIVGachaSpreadsheet
	url = https://github.com/Infiziert90/FFXIVGachaSpreadsheet.git
[submodule "src/submersible-loot-db"]
	path = src/submersible-loot-db
	url = https://github.com/saerielle/submersible-loot-db.git
