// ReSharper disable All

using System.Collections.Generic;
%%USING%%
namespace LuminaSupplemental.Excel.Generated
{
    public static class %%LOOKUP_NAME%%
    {
%%STRUCT_DEFS%%
%%DATA_MEMBERS%%
    }
}